<div style="display: block;">

    <ngx-charts-pie-chart
    [view]="view"
    [results]="chartData"
    [doughnut]="false"
    [labels]="true"
    [animations]="true"
    (select)="onSectionClick($event)"
    >
    <ng-template #tooltipTemplate let-model="model" >
        <div class="flex flex-col items-center">
            <span  >{{model.name}}</span>
            <span class="pb-1" ><i class="fas fa-medal w-5"></i>{{model.value}}</span>
        </div>
    </ng-template>
</ngx-charts-pie-chart>
</div>