::ng-deep .ngx-charts-tooltip-content.type-tooltip {
  background-color: teal !important; /* Changer cette couleur */
  color: white !important; /* Couleur du texte */
  border-radius: 4px !important;
  font-size: 16px !important;
  padding: 0 10px !important;

  .tooltip-caret.position-top {
    border-top: 7px solid rgba(0, 128, 128) !important;
  }
}

:host ::ng-deep ngx-charts-pie-chart text {
  font-size: 18px !important;
}
